body {
    scroll-behavior: smooth;
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
}

.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1504307651254-35680f356dfd") center/cover no-repeat;
    display: flex;
    align-items: center;
}

.section {
    padding: 80px 0;
}

/* Animations */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

.delay-1 { animation-delay: 0.5s; transition-delay: 0.3s; }
.delay-2 { animation-delay: 1s; transition-delay: 0.6s; }

@keyframes fadeIn {
    to { opacity: 1; }
}

.fade-in{
    -webkit-text-stroke: 1px black; /* Толщина и цвет */
  color: white; /* Цвет заливки текста */
}

.work-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease;
}

.work-img:hover {
    transform: scale(1.03);
}

